.search {
    background-image: url('./images/search-interface-symbol.png');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 6%;
    padding: 10px 0px 10px 40px;
    border-radius: 20px;
    margin: 10px;
    background-color: #d3d3d345;
    font-size: 13px;
    border: none;
    width: 15rem;
}
 